/*@charset "utf-8";*/
/* 初始化CSS  重置浏览器样式*/
html,body,div,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,input,header,nav,article,section,footer,span,button,textarea,th,td{ margin:0; padding:0; }
body{font-size:14px;line-height: 20px; color:#424242; font-family:'微软雅黑',"PingFang SC","Hiragino Sans GB";background: #fff;}
html{overflow-x: hidden;}
input{ border:0 none; outline-style:none;}
h1, h2, h3, h4, h5, h6{ font-size:14px; font-weight:normal;}
fieldset, img{ border:0 none; } 
img{display: block;/*max-width: 100%;*/}
ul,ol{ list-style:none; }
input{ padding-top:0; padding-bottom:0;}
select,input,textarea,button{ font-size:14px; margin:0; outline:none;font-family:'微软雅黑';}
/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand { display: none; }
textarea{ resize:none; }                                 /*让文本域盒子不可调节大小*/
em,i{font-style: normal;}                                /*清除倾斜标签默认样式*/
strong,b{font-weight: normal;}                           /*清除加粗标签默认样式*/
table{ border-collapse:collapse; }                       /*为表格设置合并边框模型*/
.clearfix:after{
    content:"";
    height:0;
    line-height:0;
    display:block;
    visibility:hidden;
    clear:both;
}                                                         /*清除浮动*/
.clearfix{zoom:1;}                                        /*为了兼容低版本IE浏览器*/
.tdhover:hover{text-decoration:underline;}
a{ color:#424242;text-decoration:none; }                    /*默认*/
/*a:link{color:#009;} */                                  /* 未访问的链接 */
/*a:visited{color:#800080;}*/                             /* 已访问的链接 */
/*a:hover{ color:#666;}*/                                 /* 鼠标移上链接 */
/*a:active{color: #c00;text-decoration:underline;}*/      /* 被选择的链接 */
/*a:focus,input:focus{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}          */                                               /*取消聚焦高亮*/
.wrap{ width: 950px; margin:0 auto;}                     /*版心*/
.autowrap{width:1190px; margin:0 auto;}
.bantext{                                            /* 禁止文本选中 */
    -moz-user-select:none;                                
    -webkit-user-select:none;                             
    -ms-user-select:none;                                 /*IE10*/
    -khtml-user-select:none;                              /*早期浏览器*/
    user-select:none;
}

/* 初始化CSS  重置浏览器样式*/
.bgjianbian{
    background: #f5f5f5;
    background: -webkit-linear-gradient(#fff, #eee); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#fff, #eee); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#fff, #eee); /* Firefox 3.6 - 15 */
    background: linear-gradient(#fff, #eee); /* 标准的语法 */
    filter:alpha(opacity=100 finishopacity=100 style=1 startx=0,starty=0,finishx=0,finishy=40) progid:DXImageTransform.Microsoft.gradient(startcolorstr=white,endcolorstr=#15658734,gradientType=0);/*滤镜*/
    -ms-filter:alpha(opacity=100 finishopacity=100 style=1 startx=0,starty=0,finishx=0,finishy=40) progid:DXImageTransform.Microsoft.gradient(startcolorstr=white,endcolorstr=#15658734,gradientType=0);/*IE8*/
}
/* header **************************************************/
.header{background: #fff;}
.header .logo{ height:48px;width:176px;padding:20px 0 0 0;}
.header .logo h1{ background: url(../../images/logo/biglogo.png) no-repeat; height:48px; width:176px; position: relative;}
.header .logo h1 a{text-indent:-1000px; display:block; height:48px; width: 176px; overflow:hidden;}
.headerbar{height:32px;border-bottom:1px solid #eee;width: 100%;font-size: 12px;line-height: 18px;position: relative;background: #fff;}
.headerbar .hotline{font-size: 12px;line-height:32px;color: #9e9e9e;width: 294px;float: left;margin-left:10px;}
.headerbar .hotline i{color: #424242;}
.headerbar .autowrap{
    z-index: 10;
    position: absolute;
    top: 0;
    left:50%;
    height: 32px;
    -webkit-transform: translate(-50%,0);
       -moz-transform: translate(-50%,0);
        -ms-transform: translate(-50%,0);
         -o-transform: translate(-50%,0);
            transform: translate(-50%,0);
       sand-transform: translate(-50%,0);
}
.headerbar .fl>li{float: left;padding:0 8px;border-right:1px solid #eee;margin-top:7px;}
.headerbar .fl .c9e{border: none;padding: 0;}
.headerbar .fl>li:last-child{border: none;}
.headerbar .fr>li{float: right;padding:0 8px;border-right:1px solid #eee;margin-top:7px;}
.headerbar .fr>li>a{color: #757575;}
.headerbar .fr>li>a:hover{color: #424242;}
.headerbar .fr>li:first-child{border: none;}
.headerbar .fr .vip_center{float: right;position: relative;height:18px;padding:0 8px;}
.headerbar .fr .vip_center:hover{margin: 0;padding:6px 8px 7px;border: 1px solid #e0e0e0;border-color:#e0e0e0 #e0e0e0 #fff #e0e0e0;border-radius:3px 3px 0 0;margin-left: -1px;background: #fff;box-shadow:3px -1px 5px -1px rgba(0,0,0,0.10);}
.headerbar .fr .vip_center:hover .vip_btn{color: #F0991E;background-image:url(../../images/common/Angle_up.png);}
.headerbar .fr .vip_center:hover .vip_select{display: block;}
.headerbar .fr .vip_center .vip_btn{background:url(../../images/common/Angle_down.png) no-repeat right center;padding-right:16px;display: block;line-height: 18px;z-index: 5000;height: 18px;white-space:nowrap;}
.headerbar .fr .vip_center .vip_btn span{float: left;}
.headerbar .fr .vip_center .vip_btn i{float: left;border: none;background:#F0991E;padding:0 4px;border-radius:25px;color: #fff;margin-left:4px;line-height: 16px;}
.headerbar .vip_center .vip_select{position: absolute;right:-1px;top:31px;height: 162px;width: 440px;background: #fff;padding:20px 0;border: 1px solid #E0E0E0;box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.10);border-radius:3px 0 3px 3px;box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.10);z-index:-1;display:none;font-size: 14px;line-height: 20px;}
.headerbar .vip_center .vip_select.current01{width: 150px;}
.headerbar .vip_center .vip_select.current02{width: 290px;}
.headerbar .vip_center .vip_select li{float: left;width: 130px;height: 162px;padding:0 0 0 10px;border:none;border-left:1px solid #eee;}
.headerbar .vip_center .vip_select li:first-child{border: none;}
.headerbar .vip_center .vip_select p{color: #9e9e9e;line-height: 28px;height: 28px;margin-left: 10px;}
.headerbar .vip_center .vip_select a{line-height: 28px;height: 28px;width: 110px;display: block;padding-left: 10px;}
.headerbar .vip_center .vip_select a:hover{background: #F5F5F5;color: #F0991E;}
.headerbar .vip_center .vip_select a .name{float: left;}
.headerbar .vip_center .vip_select a .num{float:right;margin-right: 10px;color: #F0991E;}
.header02{height: 100px;}
.header02 .logo{padding:30px 0 0 0;}
.header02 .regis{font-size: 24px;line-height: 33px;margin-top: 34px;float: left;}
.header02 .account{float: right;color: #9e9e9e;margin-top: 41px;}
.header02 .daohang{margin-top: 40px;float: right;}
.header04{height: 56px;background:#4082D3;}
.header04 .logo02{float: left;}
.header04 .logo{ padding:8px 0 0 0;height:40px;width:147px;}
.header04 .logo h1{ background: url(../../images/logo/viplogo.png) no-repeat; height:40px; width: 147px; position: relative;}
.header04 .logo h1 a{text-indent:-1000px; display:block; height:40px; width: 147px; overflow:hidden;}
.header04_nav{float: left;padding-top: 12px;padding-left: 24px;}
.header04_nav a{float: left;padding:5px 12px;border: 1px solid #4082D3;font-size: 16px;line-height: 22px;margin-right: 22px;color: #fff;border-radius: 3px;}
.header04_nav a.current{border: 1px solid #fff;}
.header04 .search_box03{width: 241px;height: 36px;float: right;border-radius: 3px;margin-top: 10px;background: rgba(255,255,255,0.5);}
.header04 .search_box03 .search_inp02{width:180px;padding:0 12px;height:36px;background: rgba(255,255,255,0);float: left;color: #fff;}
.header04 .search_box03 .submit_btn02{width:36px;height: 36px;float: right;background:url(../../images/header/search02.png) no-repeat center center;cursor: pointer;}
.header04 .search_box03:hover{background: rgba(255,255,255,1);}
.header04 .search_box03:hover .search_inp02{color: #424242;}
.header04 .search_box03:hover .submit_btn02{background-image: url(../../images/header/search02_h.png);}
/* footer **************************************************/
.footer{background: #f5f5f5;width: 100%;margin-top:20px;border-top: 1px solid #eee;}
.footer02{height:100px;}
.footer02 .box_top{height:50px;text-align: center;}
.footer02 .box_bottom{height:50px;text-align: center;}
.footer02 .box_top p{padding-top: 12px;height:18px;font-size: 12px;color: #9e9e9e;}
.footer02 .box_top p a{margin:0 7px;}
.footer02 p a:hover{text-decoration: underline;}
.footer02 .box_bottom p{color: #9e9e9e;}
.footer02 .footer_address{height: 50px;border-bottom: 1px solid #eee;text-align: center;}
.footer02 .footer_address p{font-size: 12px;line-height: 18px;padding-top: 16px;}
.footer02 .footer_address .name{margin-right: 20px;}
.footer03{height:60px;text-align: center;font-size: 12px;line-height: 18px;padding-top: 40px;color: #9e9e9e;}
/* 主体部分 **************************************************/
.content{background:#fff;padding-bottom: 40px;}
.content .r_page{width:750px;float:right;padding:0 20px 20px 20px;position: relative;}
.content .r_page h2{line-height: 36px;border-bottom: 1px solid #E0E0E0;font-size: 16px;font-weight: bold;}
.positioning{padding: 10px 0;}
.positioning li{font-size: 12px;line-height: 18px;float: left;}
.positioning li a{color: #757575;margin: 0 8px 0 5px;font-family: '微软雅黑';}
.positioning li a:hover{text-decoration:underline;}
.positioning li:first-child a{margin: 0 8px 0 0;}
.positioning li:last-child a{color: #9e9e9e;text-decoration: none;cursor:default;}
.positioning li:last-child:hover a{text-decoration: none;}
.positioning li i{color: #757575;}
/* 默认样式 **************************************************/
.fl{float: left;}
.fr{float: right;}
.bdbdbd{color:#BDBDBD;}
.blue{color: #4082D3;}
.mt100{margin-top: 100px;}
.mark{line-height: 18px;color: #EE322D;display: block;margin-top: 3px;margin-right: 4px;font-weight: bold;}
.redfocus{border-color: #EE322D!important;box-shadow: 0 0 3px 0 #EE322D!important;}
.greenfocus{border-color: #42BD41!important;box-shadow: 0 0 3px 0 #42BD41!important;}
.green{color: #42BD41!important;border-color:#42BD41!important;background:#F3FCF0!important;}
.green b{border-top:1px solid #42BD41!important;border-right:1px solid #42BD41!important;background:#F3FCF0!important;}
.zhuyi{width: 540px;background: #FFFCF2 url(../../images/first/common/zhuyi16.png) no-repeat 20px 21px;border: 1px solid #F2C796;margin-top: 32px;color: #B67533;padding: 20px 20px 20px 44px;font-size: 14px;}
.baninput{border-color: #D8D8D8!important;background:#EFEFEF!important;color:#BDBDBD!important;}
.baninput:focus{border-color: #D8D8D8!important;box-shadow: 0 0 3px 0 #D8D8D8!important;}
/*成功提示公共部分*/
.succebox{margin: 30px auto;border: 1px solid #8AC760;width: 790px;min-height: 220px;background: #F3FCF0;border-radius: 3px;}
.succebox .box_t{height: 55px;width: 630px;margin: 0 auto;padding-top: 37px;}
.succebox .box_t span{display: block;height: 36px;padding-left: 46px;background: url(../../images/first/registered/36.png) no-repeat;color: #424242;font-size: 16px;line-height: 36px;margin-bottom: -15px;font-weight: bold;}
.succebox .box_t p{font-size: 12px;line-height: 18px;color: #757575;padding:17px 0 44px 45px;display: block;height: 18px;}
.succebox .box_b{width: 630px;margin: 0 auto;padding-top: 30px;}
.succebox .box_b .btn{display: block;width: 150px;height: 44px;background: #F0991E;border-radius: 3px;text-align: center;font-size: 16px;line-height: 44px;color: #fff;float: left;margin-left: 45px;}
.succebox .box_b p{float: left;color: #9E9E9E;padding-left: 20px;margin-top: 12px;}
.succebox .box_b h3{font-size: 16px;line-height: 22px;padding-left: 45px;padding-bottom: 8px;font-weight: bold;}
.succe_mgs{width: 558px;height: 72px;font-size: 12px;line-height: 18px;padding-left: 28px;padding-top: 70px;margin:0 0 36px 97px;background:url(../../images/common/16.png) no-repeat left 71px;}
/* 注册页和找回密码相同部分 **************************************************/
.process{height: 54px;border-bottom: 2px solid #eee;position: relative;}
.process ul{width: 750px;height: 54px;margin: 0 auto;}
.process ul li{width: 250px;float: left;}
.process ul li div{margin: 12px auto;height: 32px;padding-left: 36px;line-height: 32px;font-size: 16px;color: #9e9e9e;font-weight: bold;}
.process ul li .two{background: url(../../images/first/registered/dis2.png) no-repeat;width: 102px;}
.process ul li .three{background: url(../../images/first/registered/dis3.png) no-repeat;width: 68px;}
.process ul li .one_current{background: url(../../images/first/registered/highlight1.png) no-repeat;width: 85px;color: #424242;}
.process ul li .two_current{background: url(../../images/first/registered/highlight2.png) no-repeat;color: #424242;}
.process ul li .three_current{background: url(../../images/first/registered/highlight3.png) no-repeat;color: #424242;}
.process .line{background-color: #F0991E;width: 250px;height: 2px;display: block;position: absolute;bottom: -2px;left: 100px;}
.process .w500{width: 500px;}
.process .w750{width: 750px;}

/* 侧边栏 **************************************************/
.l_nav{width: 150px;background: #fff;float: left;border-top: 1px solid #eee;border-left: 1px solid #eee;border-right: 1px solid #eee;}
.show_nav{border-bottom: 1px solid #eee;padding:10px 0;}
.show_nav p{padding-left: 24px;line-height: 32px;height: 32px;color: #BDBDBD;background:url(../../images/common/unfold_more.png) no-repeat 4px center;}
.show_nav li{padding-left: 24px;cursor: pointer;line-height: 32px;height: 32px;}
.show_nav li i{color: #F0991E;font-size: 12px;padding-left:3px;}
.show_nav li.current{background: #4082D3;color: #fff;}
.show_nav li.current a{color: #fff;}
.show_nav li.current i{color:#fff;}

/* 浮层 **************************************************/
#dark{
    background: #000;
    opacity:0.3;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: none;
    z-index: 100;
    filter:alpha(opacity=50 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=30) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#00000000,endcolorstr=#00000000,gradientType=0);/*滤镜*/
    -ms-filter:alpha(opacity=50 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=30) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#00000000,endcolorstr=#00000000,gradientType=0);/*IE8*/
}
.fuceng{
    display: none;
    position: fixed;
    z-index: 101;
    width: 790px;
    min-height: 468px;
    padding-bottom: 12px;
    box-shadow: 0 0 10px 0 #424242 ;
    background: #fff;
    left: 50%;
    top:15%;
    margin-left: -395px;
}
.fuceng h4{
    padding: 13px 12px 13px 16px;
    font-size: 16px;
    background: #F5F5F5  ;
    font-weight: bold;
    border-bottom: 1px solid #E0E0E0 ;
}
.fuceng h4 i{float: right;width: 16px;height: 16px;background: url(../../images/first/user_geren/uploadify-cancel.png) no-repeat;display: block;cursor: pointer;}
.fuceng .tishi{color: #BDBDBD;margin-top: 16px;margin-left: 16px;margin-right: 10px;display: block;float: left;width: 60px;height: 36px;font-size: 12px;line-height: 18px;position: relative;left: 0;top: 0;}

.fuceng .biaoqian_box{width: 743px;min-height: 70px;border: 1px solid #E0E0E0 ;margin-left: 24px;margin-top: 5px;margin-bottom: 20px;}
.fuceng .fc_label_current{width: 655px;float: left;margin-top: 12px;padding-bottom: 20px;}
.fuceng .fc_label_current li{border-radius: 3px;border: 1px solid #F2C796;float: left;padding:4px 31px 4px 7px;font-size: 12px;line-height: 18px;margin-right: 6px;display: block;position: relative;margin-bottom: 6px;}
.fuceng .fc_label_current em{width: 14px;height: 14px;background: url(../../images/first/common/yellowclear.png) no-repeat;display: block;position: absolute;top: 6px;right: 6px;cursor:pointer;opacity:0.5;}
.fuceng .fc_label_current li:hover em{opacity:1;}
.fuceng .threebox{width: 744px;height: 240px;border-top: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;border-left: 1px solid #E0E0E0;margin-left: 24px;overflow: hidden;margin-top:20px;}
.fuceng .threebox .fcbox{float: left;width: 247px;height: 240px;border-right: 1px solid #E0E0E0 ;overflow: hidden;}
.fuceng .fcbtn{padding-right: 24px;float: right;}
.fuceng .fcbtn .fcenter{float: left;width: 80px;height: 36px;color: #fff;background: #4082D3;border-radius: 2px;text-align: center;line-height: 36px;margin-right: 12px;}
.fuceng .fcbtn .fcesc{float: left;width: 78px;height: 34px;color: #757575 ;background: #fff ;border: 1px solid #E0E0E0 ;border-radius: 2px;text-align: center;line-height: 34px;}


.fuceng .fcbox ul{padding-top: 8px;padding-left: 8px;height: 232px;width: 239px;overflow: auto;}
.fuceng .fcbox ul li{height: 28px;padding-right:20px;line-height: 28px;cursor: pointer;padding-left: 8px;background: url(../../images/first/common/20.png) no-repeat center right;margin-right: 3px;
	width:192px;
    overflow: hidden;
    word-break: break-all;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    -webkit-text-overflow:ellipsis;
    -moz-text-overflow:ellipsis;
    white-space:nowrap; 
}
.fuceng .fcbox ul li.current{height: 26px;line-height: 26px;cursor: pointer;background-color: #FFFCF2;border: 1px solid #F2C796;padding-left: 7px;margin-right: 6px;}
.fuceng .fcbox ul li input{float: left;margin-top: 8px;margin-right: 6px;}
.fuceng .fcbox ul li.current input{float: left;margin-top: 7px;margin-right: 6px;}


.fuceng .fcbox03 ul li{background: none;}
.fuceng .fcbox03 ul li.current{background-color: #FFFCF2;}
.fuceng .fcbox03 ul li.bgcurrent{background-image:url(../../images/first/common/20.png);background-repeat:no-repeat;background-position: center right;}

/* 提示语 **************************************************/
.tishiyu{
    padding: 3px 7px;
    letter-spacing: 1px;
    z-index: 60;
    position: absolute;
    height: 16px;
    max-width: 600px;
    left: 0;
    bottom: -25px;
    color: #EE322D;
    background: #FFF5F5;
    border: 1px solid #F5C1C1;
    border-radius: 2px;
    font-size: 12px;
    line-height: 18px;
    white-space:nowrap;
}
.tishiyu b{
    width:6px;
    height:6px;
    border-top:1px solid #F5C1C1;
    border-right:1px solid #F5C1C1;
    position:absolute;
    background: #FFF5F5;
    top: -4px;
    left: 10px;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
       sand-transform: rotate(-45deg);
}

/*弹出再次询问窗口 绿色*/
.Snackbar01{position:fixed;left:50%;top:25%;min-width:270px;padding:0 14px;height:40px;background:#D1F5D1;border-radius:3px;border: 1px solid #80E17F;color:#2F962E;font-size: 16px;text-align: center;padding-top: 18px;z-index:9999999;margin-left:-149px;box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.10);}
.Snackbar01 span{padding-left:32px;line-height:24px;background:url(../../images/common/trough.png) no-repeat;height: 24px;display:inline-block;white-space:nowrap;}
/*弹出再次询问窗口 红色*/
.Snackbar02{position:fixed;left:50%;top:25%;min-width:270px;padding:0 14px;height:40px;background:#FDDBDB;border-radius:3px;border: 1px solid #F6B0AE;color:#EE322D;font-size: 16px;text-align: center;padding-top: 18px;z-index:9999999;margin-left:-149px;box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.10);}
.Snackbar02 span{padding-left:32px;line-height:24px;background:url(../../images/common/err24.png) no-repeat;height: 24px;display:inline-block;white-space:nowrap;}
/*  日期选择控件css**************************************************/
.calendar{width:210px;position:absolute;background-color:#f9f9f9;border:1px solid #ddd;color:#333!important;font-size:12px;}
.calendar_head{line-height:25px;width:100%;float:left;margin-top:3px;position:relative;}
.calendar_head input{width:35%;border:0px;font-family:Arial;background-color:#fff;margin-left:5%;text-align:center;line-height:18px;outline:none;border-radius:3px;}
.calendaremL{float:left;font-family:Arial;font-weight:bold;margin-top:-2px;padding:0 5px;cursor:pointer;}
.calendaremR{float:right;font-family:Arial;font-weight:bold;margin-top:-2px;padding:0 5px;cursor:pointer;}
.calendar_boy{float:left;position:relative;width:100%;}
.calendar_boy i{position:absolute;left:0;top:88px;right:0px;bottom:0;text-align:center;font-size:150px;font-family:Arial;color:#eee;z-index:0;}
._caltable{border-collapse:collapse;width:100%;float:left;position:relative;}
._caltable tr td{line-height:25px;width:25px;text-align:center;font-family:Arial;cursor:pointer;border-bottom:1px solid #f1f1f1;border-right:1px solid #f1f1f1;}
._caltable tr:first-child td{border-bottom:1px solid #ddd;cursor:default;border-bottom:1px solid #eee;border-right:0;}
._caltable tr td:last-child{border-right:0;}
._sday{color:#ff6a00;font-family:'Microsoft YaHei';}
.festival{color:#ff6a00!important;}
._selDay{background-color:#ff9900;color:#fff;font-family:'Microsoft YaHei';}
.calYear{border:1px solid #f5d2ba;width:50px;width:100%;position:absolute;z-index:2000;background-color:#eee;border-collapse:collapse;}
.calYear td{text-align:center;cursor:pointer;}
.calYear td:hover{color:#ff6a00;}
.calMonth{border:1px solid #f5d2ba;width:50px;width:100%;position:absolute;z-index:2000;background-color:#eee;border-collapse:collapse;}
.calMonth td{text-align:center;cursor:pointer;}
.calMonth td:hover{color:#ff6a00;}
.disDay{color:#999;cursor:text!important;}
.disYear{color:#999;cursor:text!important;}
._calcolse{position:relative;border-radius:10px;width:10px;height:10px;color:red;}






@media screen and (max-width:1200px){
    .autowrap{width:950px;}
}










